@model IEnumerable<Abeced.UI.Web.Models.FactModelRetrieve>

@{
    ViewBag.Title = "AddorEditCard";
    Layout = "~/Views/Shared/_AbecedDashboard.cshtml";
}


<link href="~/Content/boot-switch.css" rel="stylesheet" />
<link href="~/Content/factsToMatch.css" rel="stylesheet" />
<style>
    .form-header {
        color: #fff;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 10px;
        padding: 5px;
        /*padding:1em;*/
        border-radius: 2px;
    }

    .rounded {
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    }

    textarea, input {
        max-width: none;
    }

    .deep-blue-gradient {
        background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    }
</style>



<div class="container-fluid align-items-center justify-content-center">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-grey text-center p-2 mb-3 z-depth-1">
                        <span class=" h3-responsive">Facts To Match</span>
                    </div>
                    <div id="fldcardCol1" style="float:left; width:100%">
                        <div class="main_side" id="stage">
                            <div class="memorize_card z-depth-1-half " id="spinner" style="background-image:url(@Url.Content("~/Content/assets/side_bg.jpg")">

                                <div class="headerOptions">
                                    <div class="flashcardNav">
                                        <section>
                                            <div style="float:left; font-size: 140%; color: #767d81; font-family: Trebuchet MS,Verdana,Helvetica,Arial,sans-serif;margin-top:18px; margin-left:50px ">
                                                @*Subject Area: @ViewData["sub"]*@
                                                <div>
                                                    <label>Facts-To-Match Sound   &nbsp;&nbsp;</label>
                                                    <div class="make-switch" id="bgmusic-toggle-switch">
                                                        <input type="checkbox" class="tgmusic_chk" checked>
                                                    </div>


                                                    <div style="display:none">
                                                        <audio class="ctlbgmusic" controls id="ctlbgmusic" preload="none">
                                                            <source src="@Url.Content("~/App_Files/audios/tck1.mp3")" type="audio/mpeg">
                                                            Your browser does not support the audio element.
                                                        </audio>
                                                    </div>

                                                </div>
                                            </div>


                                            <div style="float:right; font-size: 130%; color: #767d81; font-family: Trebuchet MS,Verdana,Helvetica,Arial,sans-serif;margin-top:18px; ">
                                                <a href="#" id="btnGetAudio" style="color: #767d81;" title="Download Fact Audio"> <i class="fa fa-fw fa-download"></i>Get Audio</a>

                                            </div>

                                        </section>
                                    </div>

                                </div>
                                <div class="cardContainer" style="text-align:center">
                                    <div id="introbox" class="instructionsBox" style="display: block;">
                                        <br /><br />
                                        <h3>
                                            Welcome to Fact to Match for @ViewData["sub"]
                                        </h3>

                                        @{if (Model.Count() != 0)
                                            {
                                                <p>
                                                    <h4>
                                                        Click the START button to begin the 4 Seconds facts
                                                    </h4>
                                                </p>
                                            }
                                            else
                                            {
                                                <p>

                                                    <div class="alert alert-info">
                                                        <h4>Sorry there are NOT ENOUGH cards in subject area currently.</h4>
                                                    </div>

                                                </p>
                                                <a href="#" id="btnClose" title="Click here to EXIT"><img src="~/Content/icons/closebtn.png" /></a>
                                            }
                                        }


                                    </div>

                                    @{
                                        var flashcount = Model.Count();
                                        var count = 0;
                                        var percentage = "";
                                        var firstCard = "";

                                        if (flashcount >= 1)
                                        {
                                            foreach (var carditem in Model)
                                            {
                                                percentage = ((double)count * 100 / flashcount).ToString() + "%";
                                                if (count != 1)
                                                {
                                                    firstCard = "wizard-step cardContent mcard";
                                                }
                                                else
                                                {
                                                    firstCard = "wizard-step first cardContent mcard";
                                                }
                                                <div class="@firstCard" data-fact="@count" data-incl="0" style="background:transparent;">

                                                    <input id="per" type="hidden" value="@percentage" />

                                                    <div class="instructionsBox" style="display: none;">
                                                        <h3>
                                                            How to study your flashcards.
                                                        </h3>
                                                        <p>
                                                            <strong>Right/Left arrow keys:</strong> Navigate between flashcards.<span class="keygraphic rightkey">
                                                                right
                                                                arrow key
                                                            </span><span class="keygraphic leftkey">left arrow key</span>
                                                        </p>
                                                        <p>
                                                            <strong>Up/Down arrow keys:</strong> Flip the card between the front and back.<span class="keygraphic downkey">down key</span><span class="keygraphic upkey">up key</span>
                                                        </p>
                                                        <p>
                                                            <strong>H key:</strong> Show hint (3rd side).<span class="keygraphic hkey">h key</span>
                                                        </p>
                                                    </div>
                                                    <div class="frontCard" id="frontCardSide" style="vertical-align: middle;">
                                                        <p>
                                                            <span>
                                                                <div class="section_header">
                                                                    <h3 style="border-bottom: 0px; margin-top: 60px; text-align:center">@carditem.factsheet</h3>
                                                                </div>
                                                                <input class="classcardid" id="cardid" type="hidden" value="@carditem.FactId" />

                                                                <input type="hidden" value="@carditem.fsAudio" class="factAudio" />
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="backCard" id="backCardSide" style="display: none;vertical-align: middle;">
                                                        <p>
                                                            <span>
                                                                <div class="section_header">
                                                                    <h3 style="border-bottom: 0px; margin-top: 60px; color: Black; text-align:center">
                                                                        @carditem.answer
                                                                        <input type="hidden" value="@carditem.aAudio)" class="factAudio" />
                                                                    </h3>
                                                                </div>
                                                            </span>
                                                        </p>

                                                    </div>


                                                    <div id="hintCardSide" style="display: none;">
                                                        <p style="display: none;">

                                                        </p>
                                                        <p>
                                                            <span></span>
                                                        </p>
                                                    </div>
                                                </div>

                                                count += 2;
                                            }
                                        }
                                        <div class="wizard-step confirm cardContent" style="text-align:center">

                                        </div>


                                    }

                                    <div class="clearfix"></div>

                                </div>
                                @{if (Model.Count() >= 1)
                                    {

                                        <div class="progress_bar" style="display: block; background:transparent">

                                        </div>

                                        <div style="display:block; text-align:center">

                                            <div style="margin-left:10px; margin-bottom:15px">
                                                <a href="#" id="btnStart" title="Click here to START"><img src="~/Content/icons/start1.png" /></a>
                                                <a href="#" id="btnPlay" title="Click here to PLAY"><img src="~/Content/icons/play.png" /></a>
                                                <a href="#" id="btnPause" title="Click here to PAUSE"><img src="~/Content/icons/pause.png" /></a>
                                                <a href="#" id="btnClose" title="Click here to EXIT"><img src="~/Content/icons/closebtn.png" /></a>

                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
   @section scripts{
     <script type="text/javascript">
   

    $(document).ready(function () {

        //insert silence cards...
        $(".mcard").each(function () {
            $('<div style="background: transparent none repeat scroll 0% 0%; display: none;" class="wizard-step silence cardContent " data-selence="0">' +
               '<input type="hidden" value="25%" ><div style="vertical-align: middle;" id="frontCardSide" class="frontCard"><p>' +
                '<span></span></p><div class="section_header">' +
                '<input class="factAudio" type="hidden" value="/flashcardmedia/audio/silence.mp3">' +
                '<h3 style="border-bottom: 0px; margin-top: 60px; text-align:center">.... </h3></div>' +
                '<p></p></div><div style="display: none;vertical-align: middle;" id="backCardSide" class="backCard"><p>' +
                '<span></span></p><div class="section_header"> ' +
                '<input class="factAudio" type="hidden" value="/flashcardmedia/audio/silence.mp3">' +
                '<h3 style="border-bottom: 0px; margin-top: 60px; color: Black; text-align:center">.. </h3></div>' +
              '<p></p></div></div>').insertAfter(this);
        });

        //Remove player watermark
        var $player1 = $('.amazingaudioplayer-bar-clear').next();
        $player1.remove();

        var sesid = $('#SessionId').val();
        var flshstatus = $('#FlshStatus').val();



    });


</script>  
<script src="~/Scripts/SiteJs/factcard.js"></script>     
<script src="~/Scripts/SiteJs/bootstrap-switch.min.js"></script>

       
       }

