@model Abeced.UI.Web.Models.SubCategory

@{
    ViewBag.Title = "AddorEditCard";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<link href="~/mdb/css/mdb.css" rel="stylesheet" />
<link href="~/Content/chosen.min.css" rel="stylesheet" />

<style>
    .form-header {
        color: #fff;
        text-align: center;
        margin-top: -50px;
        margin-bottom: 10px;
        padding: 5px;
        /*padding:1em;*/
        border-radius: 2px;
    }

    .rounded {
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    }

    textarea, input {
        max-width: none;
    }

    .deep-blue-gradient {
        background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    }
</style>





<div class="container d-flex align-items-center justify-content-center" style="margin-top:55px">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm("AddorEditSubCategory", "App", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return AddSubCategory(this);" }))
                    {

                        @Html.AntiForgeryToken()
                        <div class="form-header deep-blue-gradient rounded">
                            <h3 class="text-center">Add Sub Category</h3>
                        </div>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                      
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="subCatID">Select Main Category</label>
                                @Html.DropDownListFor(model => model.mainCatID, new SelectList(Model.MainCat, "MainCategoryId", "name"), "Select Main Category", new { id = "myDropdown3" })
                                @Html.ValidationMessageFor(model => model.mainCatID, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">

                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sub Category Name" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">

                            @Html.TextAreaFor(model => model.description, htmlAttributes: new { @class = "form-control md-textarea-auto", @placeholder = "Sub Category Description", @rows = "2" })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>

                            <div class="form-group text-center">
                                <label>Upload Category Level Image</label><br />
                                <i class="fa fa-upload prefix grey-text"></i>
                                <input type="file" name="ImageFile" class="btn btn-blue-grey btn-sm" accept="image/*" onchange="showImagePreview(this, document.getElementById('SubCatImagePreview'))" />
                            </div>
                            <div class="text-center" style="margin-top:-10px">

                                <img src="~/App_Files/Images/cat5.png" class="img-thumbnail" height="100" width="100" id="SubCatImagePreview" />
                            </div>

                            <div class="text-center">
                                <input class="btn btn-indigo" type="submit" value="Create" />
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


<script src="~/Scripts/SiteJs/ImagePreview.js"></script>

<script>
    function AddSubCategory(form) {

        $.validator.unobtrusive.parse(form);

        if ($(form).valid) {

            if ($(form).attr('enctype') == "multipart/form-data") {
                contentType = false;
                processData = false;
            }

            $.ajax({
                type: 'POST',
                url: '/app/addoreditsubcategory',
                data: new FormData(form),
                contentType: contentType,
                processData: processData,
                success: function (response) {
                    alertify.alert(" added successfully !!!")

                },
                error: function (response) {

                    alertify.alert("failed to add Category !!!")
                }

            });
        }
        return false;

    }


</script>

<script src="~/Scripts/chosen.jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#myDropdown3").chosen({
            width: "100%"


        });
    });
</script>







}
