@model Abeced.UI.Web.Models.MainCategory

@{
    ViewBag.Title = "AddorEditCard";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    .form-header {
        color: #fff;
        text-align: center;
        margin-top: -50px;
        margin-bottom: 15px;
        padding: 5px;
        border-radius: 2px;
    }
    .rounded {
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    }
    
    .deep-blue-gradient {
        background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    }
    .morpheus-den-gradient {
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    }
</style>
<div class="container d-flex align-items-center
                justify-content-center" style="margin-top:40px">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                    @using (Html.BeginForm("AddorEditMainCategory", "App", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return AddMainCategory(this);" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-header deep-blue-gradient rounded">
                            <h3 class="text-center">Create Main Category</h3>
                        </div>
                        
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                   
                                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder="Category Name" } })
                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">                                    
                                    
                                    @Html.TextAreaFor(model => model.description, htmlAttributes: new { @class = "form-control md-textarea-auto", @placeholder = "Category Description", @rows = "2" })
                                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })                       
                            </div>

                            <div class="form-group text-center">
                                    <label>Upload Category Image</label><br />
                                     <i class="fa fa-upload prefix grey-text"></i>
                                    <input type="file" name="img" class="btn btn-blue-grey btn-sm" accept="image/*" onchange="showImagePreview(this, document.getElementById('catImagePreview'))" />  
                            </div>
                                 <div class="text-center" style="margin-top:-10px">

                                     <img src="~/App_Files/Images/cat5.png"  class="img-thumbnail"  height="100" width="100" id="catImagePreview" />
                                 </div>

                            <div class="text-center">
                                <input class="btn btn-indigo" type="submit" value="Create" />
                            </div>

                  


                    }
            </div>
        </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/SiteJs/ImagePreview.js"></script>

    <script>
        function AddMainCategory(form) {

            $.validator.unobtrusive.parse(form);

            if ($(form).valid) {

                if ($(form).attr('enctype') == "multipart/form-data") {
                    contentType = false;
                    processData = false;
                }

                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:20503/api/MainCategories',
                    data: new FormData(form),
                    contentType: contentType,
                    processData: processData,
                    success: function (response) {
                        alertify.alert(" added successfully !!!")

                    },
                    error: function (response) {

                        alertify.alert("failed to add Category !!!")
                    }

                });
            }
            return false;

        }


    </script>
}
