@model Abeced.UI.Web.Models.ChangepasswordViewModel
@{
    ViewBag.Title = "Change password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Changepassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Oldpassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.passwordFor(m => m.Oldpassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Newpassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.passwordFor(m => m.Newpassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Confirmpassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.passwordFor(m => m.Confirmpassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}